<h1>Employees</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="id">Employee ID:</label>
    <input id="id" formControlName="id">
    <div *ngIf="userForm.get('id')?.invalid && (userForm.get('id')?.touched || userForm.get('id')?.dirty)">
      <span>{{ getValidationMessage('id') }}</span>
    </div>
  </div>

  <div>
    <label for="name">Name:</label>
    <input id="name" formControlName="name">
    <div *ngIf="userForm.get('name')?.invalid && (userForm.get('name')?.touched || userForm.get('name')?.dirty)">
      <span>{{ getValidationMessage('name') }}</span>
    </div>
  </div>

  <div>
    <label for="departmentId">Department ID:</label>
    <input id="departmentId" formControlName="departmentId">
    <div *ngIf="userForm.get('departmentId')?.invalid && (userForm.get('departmentId')?.touched || userForm.get('departmentId')?.dirty)">
      <span>{{ getValidationMessage('departmentId') }}</span>
    </div>
  </div>

  <div>
    <label for="gender">Gender:</label>
    <input type="radio" id="male" formControlName="gender" value="Male">
    <label for="active">Male</label>
    <input type="radio" id="female" formControlName="gender" value="Female">
    <label for="inactive">Female</label>
    <div *ngIf="userForm.get('gender')?.invalid && (userForm.get('gender')?.touched || userForm.get('gender')?.dirty)">
      <span>{{ getValidationMessage('gender') }}</span>
    </div>
  </div>

  <div>
    <label for="phoneNumber">Phone Number:</label>
    <input id="phoneNumber" formControlName="phoneNumber">
    <div *ngIf="userForm.get('phoneNumber')?.invalid && (userForm.get('phoneNumber')?.touched || userForm.get('phoneNumber')?.dirty)">
      <span>{{ getValidationMessage('phoneNumber') }}</span>
    </div>
  </div>

  <div>
    <label for="educationLevel">Education:</label>
    <select id="educationLevel" formControlName="educationLevel">
      <option value="">Select...</option>
      <option value="diploma">Diploma</option>
      <option value="bachelor">Bachelor</option>
      <option value="master">Master</option>
      <option value="phd">PhD</option>
    </select>
    <div *ngIf="userForm.get('educationLevel')?.invalid && (userForm.get('educationLevel')?.touched || userForm.get('educationLevel')?.dirty)">
      <span>{{ getValidationMessage('educationLevel') }}</span>
    </div>
  </div>

  <button type="submit" [disabled]="!userForm.valid">Add Employee</button>
</form>
<app-loading *ngIf="loading"></app-loading>
<app-entity-list [entities]="users" [isDepartmentList]="false"></app-entity-list>
