<table>
  <thead>
    <tr>
      <th *ngIf="isDepartmentList">ID</th>
      <th *ngIf="isDepartmentList">Department Name</th>
      <th *ngIf="!isDepartmentList">Employee Name</th>
      <th *ngIf="isDepartmentList">Status</th>
      <th *ngIf="isDepartmentList">Established Date</th>
      <th *ngIf="!isDepartmentList">Department</th>
      <th *ngIf="isDepartmentList && 
      departmentUsers && departmentUsers.length > 0">Users</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entity of entities" (click)="toggleEntity(entity)">
      <td *ngIf="isDepartmentList">{{ entity.id }}</td>
      <td *ngIf="isDepartmentList">{{ entity.name }}</td>
      <td *ngIf="!isDepartmentList">{{ entity.name }}</td>
      <td *ngIf="isDepartmentList">{{ entity.status }}</td>
      <td *ngIf="isDepartmentList">{{ entity.establishedDate | date }}</td>
      <td *ngIf="!isDepartmentList">{{ entity.departmentId }}</td>

      <td *ngIf="selectedEntityId === entity.id">
        <div *ngIf="departmentUsers && departmentUsers.length > 0" class="dropdown">
          <button (click)="toggleDropdown($event)" class="dropdown-toggle">
            View Users in Department
          </button>
          <div *ngIf="dropdownOpen" class="dropdown-content">
            <ul>
              <li *ngFor="let user of departmentUsers" (click)="onUserClick(user)">
                {{ user.name }}
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="!departmentUsers || departmentUsers.length === 0">
          <p>No users yet.</p>
        </div>
      </td>       
    </tr>

    <!-- Expandable section for users in a department -->
    <!-- <tr *ngIf="selectedEntityId === entity.id && departmentUsers && departmentUsers.length > 0">
      <td colspan="6">
        <div>
          <h4>Users:</h4>
          <ul>
            <li *ngFor="let user of departmentUsers">{{ user.name }}</li>
          </ul>
        </div>
      </td>
    </tr>
    <tr *ngIf="selectedEntityId === entity.id && (!departmentUsers || departmentUsers.length === 0)">
      <td colspan="6">
        <p>No users found for this department.</p>
      </td>
    </tr> -->
  </tbody>
</table>
